<header class="c-header">
    <div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Rick_and_Morty.svg">
    </div>
    
    <nav>
        <a class="c-header__link" routerLink="" routerLinkActive="c-header__link--active"
        [routerLinkActiveOptions]="{ exact: true }">Home</a>
        <a class="c-header__link" routerLink="characters" routerLinkActive="c-header__link--active">Characters</a>
        <a class="c-header__link" routerLink="contact" routerLinkActive="c-header__link--active">Contact</a>
        <a class="c-header__link" routerLink="locations" routerLinkActive="c-header__link--active">Locations</a>
        <a class="c-header__link" routerLink="episodes" routerLinkActive="c-header__link--active">Episodes</a>
        <a class="c-header__link" routerLink="favorites" routerLinkActive="c-header__link--active">Favorites</a>
    </nav>
    
</header>